<h1>Editing article</h1>
 
<%= render 'form' %>
 
<%= link_to 'Destroy', article_path(@article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', articles_path %>